*{
    box-sizing: border-box;
}
main{
    border: 1px solid black;
    height: 500px;
    width: 400px;
    margin: auto;
    margin-top: 1%;
    background: black;
    border-radius: 10%;
}
#displayMonitor{
    height: 70px;
    background: white;
    margin: 10%;
}
#monitor{
  vertical-align: middle;
  font-size: 40px;
}
#buttons{
    display: flex;
}
.column{
    margin: auto;
}
.row{
    flex: 1;
    margin: auto;
    display: flex;
}
li{
    color: black;
    background: white;
    padding: 15px;
    border: 1px solid black;
    border-radius: 40%;
    list-style: none;
    flex-wrap: wrap;
    margin: 5px;
    font-size: 25px;
}
